.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 세로 방향으로 배치 */
}

.heading {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-label {
    display: block;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-group {
    text-align: center;
    margin-top: 20px; /* 버튼 그룹 위쪽 여백 추가 */
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.save-button {
    background-color: #007bff;
    color: #fff;
}

.cancel-button {
    background-color: #6c757d;
    color: #fff;
}

.bold-text {
    font-weight: bold;
}
